<div class="repactivity" ng-controller="repactivityCtrl">
    <h2> Your Congressional Representatives: </h2>

    <div class="row rep-card" ng-repeat="recentvote in recentvotes" >
        <div class="row head">
            <div class="img">
                <div class="thumb" style="background-image:url('https://theunitedstates.io/images/congress/225x275/{{recentvote.person.bioguideid}}.jpg') ">
                </div>
            </div>
            <div class="details">
            <h3>{{recentvote.person.name}}</h3>
            <p>{{recentvote.person_role.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="action">
                <div class="title">
                    <h4> Most Recent Vote </h4>
                </div>
                <div class="outcome">
                    <div class="row">
                        <p>{{recentvote.vote.question}}</p>
                    </div>
                    <div class="vote-box bs-well">
                        <h5> {{recentvote.person.lastname}}</h5>
                        <div class="vote-result">
                            <h3>{{recentvote.option.value}}</h3>
                        </div>
                    </div>
                    <div class="vote-box bs-well">
                        <h5> Yea</h5>
                        <div class="vote-result">
                            <h3>{{recentvote.vote.total_plus}}</h3>
                        </div>
                    </div>
                    <div class=" vote-box bs-well">
                        <h5> Nay</h5>
                        <div class="vote-result">
                            <h3>{{recentvote.vote.total_minus}}</h3>
                        </div>
                    </div>
                    <div class=" vote-box-last bs-well">
                        <h5> Other</h5>
                        <div class="vote-result">
                            <h3>{{recentvote.vote.total_other}}</h3>
                        </div>
                    </div>
                </div>
                <div class="total-result">
                    <h4>{{recentvote.vote.result}} </h4>
                </div>
            </div>
        </div>
    </div >
</div>
