<div class="repactivity" ng-controller="repactivityCtrl">
      <h2> Your Leaders </h2>
      <div class="member-card card-holder" ng-repeat="member in members">
        <div class="card">
          <div class="memberwrapper">
            <div class="memberimage">
              <img src="https://theunitedstates.io/images/congress/225x275/{{member.bioguide_id}}.jpg" />
            </div> 
          </div>
            <div class="memberinfo">
              <h3>{{member.first_name}} {{member.last_name}}</h3>
              <ul>
                <li>State: {{member.state_name}}</li>
                <li>Party: {{member.party}}</li>
                <li><a href="{{member.website}}" target="_blank">{{member.website}}</a></li>
                <li><a href="http://www.youtube.com/{{member.youtube_id}}" target="_blank">http://www.youtube.com/{{member.youtube_id}}</a></li>
                <li><a href="http://www.facebook.com/{{member.facebook_id}}" target="_blank">http://www.facebook.com/{{member.facebook_id}}</a></li>
                <li><a href="{{member.contact_form}}" target="_blank">Contact Form</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>