<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row">
      <!-- <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p> -->
    <div id="form-main">
      <div id="form-div">
          <form class="form" id="form1" name="form" ng-submit="login(form)" novalidate>


<div class="signup_wrap">
  <div class="full-bg">
    <img src="../../assets/images/capitol.jpg" alt="Login to capitol watch" />
  </div>
  
  <div class="quote_login">
    <h3>"Every citizen of this country should be guaranteed that their vote matters, that their vote is counted, and that in the voting booth, their vote has a much weight as that of any CEO, any member of Congress, or any President."</h3>
    <p class="quote_author">- Barbara Boxer</p>
  </div>
  <div class="form-container">
      <!--<p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>-->
          <form class="form" id="form1" name="form" ng-submit="login(form)" novalidate>
            <h1>Login</h1>

            <div class="field half">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" ng-model="user.email" required>
            </div>

            <div class="field half last">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" ng-model="user.password" required>
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                 Please enter your email and password.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && submitted">
                 Please enter a valid email.
              </p>

              <p class="help-block">{{ errors.other }}</p>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Login
              </button>

              <span>Don't have an account? </span>

              <a class="btn btn-default btn-lg btn-register" href="/signup">
                Register
              </a>
            </div>

            <hr>
            <div>
              <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                <i class="fa fa-twitter"></i> Connect with Twitter
              </a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <hr>

</div>





