form {
  margin: 2rem 0;
  
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .field {
    display: block;
    border: 3px solid #E5E5E5;
    float: left;
    width: 100%;
    
    &.tnb {
      border-top: 0;
    }


    @include breakpoint($tablet) {
      &.half {
        width: 50%;
      }
      &.last {
        border-left: 0;
      }
    }
    
    label {
      display: block;
      font-size: 1rem;
      padding: 1.5rem 2rem 0;
      text-transform: uppercase;
      color: #999;
      font-weight: 700;
      letter-spacing: 1px;
    }
    
    input,
    textarea {
      display: block;
      width: 100%;
      padding: .5rem 2rem 1.5rem;
      font-size: 1.2rem;
      border: 0;
      color: #212121;
      outline: 0;
    }
    
    textarea {
      min-height: 150px;
      resize:vertical; 
    }
  }
}

$btnTwitterBackground:              #2daddc;
$btnTwitterBackgroundHighlight:     #0271bf;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------
/*
.btn-twitter {
  @include button-variant($btnText, $btnTwitterBackground, $btnTwitterBackgroundHighlight);
}
.btn-github {
  @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}
*/
//USING SAME SCSS AS SIGNUP PAGE

.quote_login {
	@include span(12 of 12 last);
	h3 {
	  font-size: 1.4rem;
	  color: #fff;
	  line-height: 35px;
	  padding: 20px 20px 0px 20px;
	  text-align: center;
	  margin-bottom: 0;
	}
	 p.quote_author {
	  color: #fff;
	  font-size: 1.3rem;
	  text-align: center;
	}
	@include breakpoint($laptop) {
        @include span(5 of 12);
        h3 {
		  font-size: 2rem;
		  color: #fff;
		  line-height: 45px;
		  padding: 20px 5px 0px 100px;
		  text-align: left;
        }
        p.quote_author {
		  color: #fff;
		  font-size: 1.6rem;
		  text-align: right;
		}
    }
}

