//$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
//$fa-font-path: "/bower_components/font-awesome/fonts";

/*@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';*/
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/normalize';
@import 'susy/sass/susy/language/susy';
@import 'breakpoint-sass/stylesheets/breakpoint';

/**
 * App-wide Styles
 */
 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic);
 $font-family-base: 'Lato', sans-serif;

 $mobile: 320px;
 $tablet: 500px;
 $laptop: 720px;

.browsehappy {
    margin: 0.3em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$blue: #37a1e7;
$gold: #FFE081;
$dark-gray: #525252;
$green: #B8E986;

@mixin img-responsive($display:block) {
  display: $display;
  width: 100% \9; // Force IE10 and below to size SVG images correctly
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


$susy: (
  columns: 12,
    container: 1200px,
  global-box-sizing: border-box 
);

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

html{
  @include border-box-sizing;
}

body {
  font-family: $font-family-base;
}



.container{
	@include container();
  padding: 0px 15px;
}
a{
  color: #0045B0;
    text-decoration: none;
}
a:hover{
  color: #6B99FF;
}

.content{
    background-color: #F5F5F5;
}

.row{
  @include clearfix();
}

.card{
  background: #FFFFFF;
  margin-bottom: 10px;
  .title{
    padding: 8px 11px;
    @include clearfix();
    a{
      float: right;
      text-decoration: none;
      font-weight: 900;
      color: #ffffff;
      background-color: #507ECE;
      border-radius: 50px;
      padding: 5px 20px;
    }
    h3{
      margin: 0;
      font-size: 1em;
      //color: #5E5E5E;
      font-weight: 500;
    }
  }
  .content{
      padding: 5px 13px;
      border-bottom: 1px solid #cecece;
    h4{
      margin: 0;
      font-size: .8em;
      //color: #5E5E5E;
      font-weight: 900;
    }
    p{
      font-size: .85em;
      //color: #585858;
      font-weight: 500;
      margin:0;
      padding-top: 6px;
    }
  }
}

.six{
  @include span(6 of 12);
}
.six-last{
  @include span(6 of 12 last);
}


.grey1{
  background-color: #E9E9E9;
}
.light-blue1{
  background-color:#CCDCE9;
}
.mini-card{
  padding: 8px 11px;
  @include clearfix();
  .img{
    @include span(3 of 10);
    .thumb{
      height: 70px;
      width: 70px;
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.50);
    }
  }
  .details{
    @include span(7 of 10 last);
    background-color: #F5F5F5;
    padding: 5px;
    h4{
      margin: 0;
      font-size: .92em;
    }
    h5{
      margin: 0;
      font-size: .8em;
    }
    ul{
      margin: 0;
      padding: 0;
      li{
        text-align: -webkit-left;
        list-style-type: none;
        margin: 0;
        padding: 3px 8px;
        font-size: .8em;
      }
    }
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/profile/profile.scss';
@import 'account/settings/settings.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'bills/bills.scss';
@import 'main/main.scss';
@import 'allbills/allbills.scss';
@import 'billsheet/billsheet.scss';
@import 'billstowatch/billstowatch.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
@import 'recentvote/recentvote.scss';
@import 'repactivity/repactivity.scss';
@import 'vote/vote.scss';
// endinjector