.content{
    background-color: #F5F5F5;
}

.thing-form {
    margin: 20px 0;
}


.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.upcoming-bills{
    @include breakpoint($mobile) {
        @include span(12 of 12 last);
    }
    @include breakpoint($laptop) {
        @include span(4 of 12 );
    }

    .ubill{

    }
}