<div class="recent-votes" ng-controller="recentvoteCtrl">
    <h2> Recent Activity </h2>
    <div ng-repeat="vote in votes">
        <div class="recent-activity-card">
            <div class="title" style="background-color:{{vote.title_color}};">
                <h3>{{vote.current_status}}</h3>
            </div>
            <div class="ra-content">
                <h4><a href="/bills/{{vote.id}}">{{vote.display_number}}</a></h4>
                <p>{{vote.title_without_number}}</p>
                <h5> Latest Action: </h5>
                <div class="major_action">
                    <p>{{vote.last_major_action}}</p>
                </div>
                <div class="votes-holder" ng-show="vote.yea != null">
                    <div class="vote-count-card">
                        <h5> Congress</h5>
                        <div class="vote_count">
                            <div class="result">
                                <h6>YEA</h6>
                                <p ng-show="vote.yea != null">{{vote.yea}}</p>
                            </div>
                            <div class="result-last">
                                <h6>NAY</h6>
                                <p ng-show="vote.nay != null">  {{vote.nay}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

