.vote{
	@include span (4 of 15 last);
	background: #FFFFFF;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50);
	border-radius: 1px;
	margin-top: 20px;
}

.vote-title{
	@include span(8 of 12);
	padding: 10px;
	background-color: #B8E986;
	margin-top: 20px;
	h3{
		color: #525252;
		margin:0;
		font-weight: 700;
	}
}

.vote-content{
	padding: 15px;
	p{
		margin: 0;
		font-size: .8em;
		font-weight: 400;
		color: #3C3838;
	}
	.yea{
		@include span(4 of 12);
		background: #DFDEDE;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.29);
		border-radius: 6px;
		padding: 16px 5px;
		-webkit-appearance: none;
		border: 0;
		font-size: 1em;
		font-weight: 900;
		height: 65px;
		text-shadow: -1px -1px 0px rgba(181,181,181,0.93);
		-webkit-transition: background-color .3s ease-in;
		-moz-transition: background-color .3s ease-in;
		-o-transition: background-color .3s ease-in;
		transition: background-color .3s ease-in;
	}
	.nay{
		@include span(4 of 12);
		/* Rectangle 144: */
		background: #DFDEDE;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.29);
		border-radius: 6px;
		padding: 16px 5px;
		-webkit-appearance: none;
		border: 0;
		font-size: 1em;
		font-weight: 900;
		height: 65px;
		text-shadow: -1px -1px 0px rgba(181,181,181,0.93);
		-webkit-transition: background-color .3s ease-in;
		-moz-transition: background-color .3s ease-in;
		-o-transition: background-color .3s ease-in;
		transition: background-color .3s ease-in;
	}
	.dont{
		@include span(4 of 12 last);
		/* Rectangle 144: */
		background: #DFDEDE;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.29);
		border-radius: 6px;
		padding: 10px 5px;
		-webkit-appearance: none;
		border: 0;
		font-size: 0.8em;
		font-weight: 900;
		height: 65px;
		-webkit-transition: background-color .3s ease-in;
		-moz-transition: background-color .3s ease-in;
		-o-transition: background-color .3s ease-in;
		transition: background-color .3s ease-in;
		text-shadow: -1px -1px 0px rgba(181,181,181,0.93);
	}

	button:hover{
		text-shadow: 0px 3px 0px rgba(0,0,0,0.50);
		color: #fff;
		background-color: #507ECE;
		transition: background-color .3s ease-out;
		-webkit-transition: background-color .3s ease-out;
		  -moz-transition: background-color .3s ease-out;
		  -o-transition: background-color .3s ease-out;
		  transition: background-color .3s ease-out;
	}

}